<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ai_holder"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ai_holder"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carti">
        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Carti">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <!-- App Links: Para sa HTTPS URL (Dito papasok yung email link) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="mintyai.vercel.app" android:pathPrefix="/reset-password" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="carti" android:host="reset-password" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.onboarding.StartActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.common.AddOptionsActivity"
            android:exported="false"
            android:theme="@style/Theme.Carti" />
        <activity
            android:name=".ui.expenses.AddExpenseActivity"
            android:exported="false"
            android:theme="@style/Theme.Carti"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.debt.AddDebtActivity"
            android:exported="false"
            android:theme="@style/Theme.Carti"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.goals.AddGoalActivity"
            android:exported="false"
            android:theme="@style/Theme.Carti"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.family.InviteFamilyActivity"
            android:exported="false"
            android:theme="@style/Theme.Carti"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.expenses.AddCategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.Carti"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.home.CustomizeQuickLogActivity"
            android:exported="false"
            android:theme="@style/Theme.Carti"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>